.main {
  text-align: center;
  font-family: 'MayinsHandRegular';
  font-weight: normal;
  font-style: normal;
}

.Countries-Card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
